*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

h1 {
  text-align: center;
}

/* slider */

.swiper {
  margin-top: 40px;
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.image-text {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* slider end */
